@{
    ViewData["Title"] = "Calisanlar";
}

<div class="text-center">
    <h1 class="display-4">Calisanlar (Staff) Bolumu</h1>
    <p>Bu alan ileride <strong>Staff</strong> rolu ile korunacak (JWT + RBAC).</p>
</div>
