@{
    ViewData["Title"] = "Musteri";
}

<div class="text-center">
    <h1 class="display-4">Musteri (Customer) Bolumu</h1>
    <p>Bu alan ileride <strong>Customer</strong> rolu ile korunacak (JWT + RBAC).</p>
</div>
